.item-1 {
    background: linear-gradient( 133deg, rgba(32,35,91,0.7) 22%, rgba(7,9,33,0.7) 82%);
}

.item-2 {
    background: radial-gradient( 53% 53% at 46% 46%, rgba(43,94,180,0.7) 0%, rgba(13,16,35,0.42) 100%);
    box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.06), 0px 0px 40px 20px rgba(85,0,98,0.1), 0px 0px 20px 3px rgba(7,13,79,0.1), inset 0px 1px 0px 0px rgba(255,255,255,0.1);
}

.item-3 {
    background: radial-gradient( 73% 50% at 47% 35%, #0D6E30 0%, rgba(8,53,24,0.8) 100%);
    box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.06), 0px 0px 40px 20px rgba(46,212,105,0.05), 0px 0px 20px 3px rgba(46,212,105,0.05), inset 0px 1px 0px 0px rgba(255,255,255,0.1);

}

.item-4 {
    background: radial-gradient( 83% 61% at 52% 43%, rgba(39,61,180,0.7) 0%, rgba(15,9,38,0.4) 100%);
}